<form  action="/figures" method="post">

  <label for="Name">Name:</label>
  <input type="text" name="Name" id="Name">

  <h2>Titles</h2>

  <%Title.all.each do |t| %>
  <label><%t.name%></label>
  <input type="checkbox" name="[titles][]" value="<%=t.name%>" id="<%=t.name%>">
  <%end%>

  <label for="Title">Title:</label>
  <input type="text" name="Title" id="Title">


  <input type="submit" id="Submit" value="Create">

</form>
